
:root{
  --primary-white: #ffffff;
  --primary-purple: #3a0486;
  --primary-dark: rgb(255,255,255,0);

}


body {
  font-family:  Poppins  !important;
  
}

h1{
  
  font-weight:  800 !important;
  font-size: 70px !important;
  line-height: 60px !important;
  font-style: normal;
  
  margin: 22
  px
   0 20
  px
  ;
}
p{
  font-weight: 300 !important;
  
}
h3{
  font-weight: 650 !important;
}
h4{
  font-size:15px !important;
  font-weight: 500;
}
html {
  scroll-behavior: smooth;
 }
 


/************* NAVBAR ***********/
.logo{
  width: 4.25rem;
}


nav{
  z-index: 2;
  
}

nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left:0.75rem;
  color: #fff !important;
  border-top: 0.1875rem solid var(--primary-dark);
  

}
.navbar-nav > li > a:hover{
  color: var(--primary-purple);
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;

}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);
}

.header-wrapper {
  position: relative;
  background: url(banner.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family:  'Poppins', sans-serif;
   z-index:1;
}
.main-info h4{
  font-size: 40px !important;
}
.main-info h1{
 
  line-height: 36pt;
}


.typed-text{
  font-weight: 500px;
  line-height: 36pt;
  color: #fff;
  font-size: 40px;
}
.btn-main{
  border: 2px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: .3rem;;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  
}

.btn-main:hover{
  text-decoration: none;
  background-color: var(--primary-white);
  color: var(--primary-purple);
  transition: 0.2s ease-in-out;
}
@media (max-width:500px) {
  .main-info h4{
    font-size: 1rem !important;
    margin: 0px;
    padding: 0;
  }
  .main-info h1{
    font-size:3rem !important;
    margin: 0px;
   padding: 0 80px !important;
  }
  
  .typed-text{
    font-size:1rem !important;
    margin: 0px;
  }
  .btn-main{
    font-size: 0.8rem !important;
  }
}

@media (min-width:500px) and (max-width:1200px){
  .main-info h4{
    font-size: 1.5rem !important;
  }
  .main-info h1{
    font-size:3.5rem !important;
  }
  
  .typed-text{
    font-size:1.5rem !important;
  }
  .btn-main{
    font-size: 0.8rem !important;
  }
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: var(--primary-purple);
}

.contacts {
  background-color: var(--primary-purple);
  padding: 3rem 0;
  text-align: center;
}

.contacts h1 {
  color: var(--primary-white);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color:var(--primary-white);
  font-size: 1.2rem;
}

.contacts input, .contacts textarea {
width: 100%;
box-sizing: border-box;
background: none;
border: 0;
border-bottom: 0.125rem solid darkgrey;
border-radius:0;
color: var(--primary-white) !important;
outline:  0 !important;
box-shadow: none !important;
margin: 1rem;
top: 0;
padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;

}

.contacts input:focus, .contacts textarea:focus{
  background: transparent;
  color: var(--primary-white);
  border-bottom: 0.125rem solid var(--primary-white);
}

.contacts textarea{
  height: 12.2rem !important;
  margin: 2rem 0;
}

.contacts-btn{
  margin: 1rem 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  width: 0;
  top: -0.8rem;
  height: 0.125rem;
  background: var(--primary-white);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control{
  margin: -0.3rem 0; 

}

textarea.form-control{
  margin: -0.3rem 0; 

}
.btn-contact{
  border: 2px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: .3rem;;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  background-color: var(--primary-purple);
  margin: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
}
.btn-contact:hover{
  background-color: var(--primary-white);
  color: var(--primary-purple);
}
@media(max-width: 1500px) {
  .contacts{
    overflow-x: hidden;
  }
  .contacts .container {
    padding:0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
  .btn-contact{
    font-size: 20px !important;
  }
}
#portfolio{
  height: 100vh;
  margin: 30px 0;
  background-color:rgb(245, 245, 245);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

#portfolio h1 {
  font-size: 50px;
  margin-top: 60px;
}



#portfolio ul 
{
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  border: solid 1px black;
  border-radius: 85px;
}
#portfolio .tabs{
  margin: 20px 0;
}
.portfolioList  {
  list-style: none;
  
  margin-right: 0px;
  padding: 7px 40px;
 display: flex;
 border-radius: 85px;
 cursor: pointer;
 font-weight: 600;

}

.act{
  background: var(--primary-purple) !important;
  color: var(--primary-white) !important;
 transition: ease-in 0.3s;
}


#portfolio .container{
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#portfolio .container .item {
 
  border-radius: 20px;
  border: 1px solid lightgrey;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative !important;
  transition: all .5s ease-in;
  cursor: pointer;
}
.item h3{
  position: absolute !important;
  font-size: 20px !important;
 
}
.item img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 z-index: 1;
 border-radius: 20px;

}

.item:hover{
  background-color: #3e0194a2 !important;
 
}
.item img:hover{
  opacity: 0.10;
}

@media(max-width:380px){
  #portfolio{
    height: 100%;
  }

  #portfolio ul {
    margin: 10 0;
    flex-direction: column  !important;
    justify-content: center;
    border: none;
    align-items: center;
  }

  #portfolio .container{
    width: 100%;
  }
  #portfolio .container .item {
    width: 120px;
    height: 100px;
  }

  .portfolioList{
    margin-right: 20px;
  }

  .pimages{
    width: 120px !important;
    height: 100px !important;
  }
}
@media (min-width:380px) and (max-width: 500px){
  #portfolio{
    height: 100%;
  }

  #portfolio ul {
    margin: 10 0;
    flex-direction: column  !important;
    justify-content: center;
    border: none;
    align-items: center;
  }

  #portfolio .container{
    width: 100%;
  }
  #portfolio .container .item {
    width: 130px;
    height: 100px;
  }

  .portfolioList{
    margin-right: 20px;
  }

  .pimages{
    width: 150px !important;
    height: 100px !important;
  }
}
@media (min-width:500px) and (max-width: 1500px){
  #portfolio{
    height: 100%;
  }
  #portfolio h1{
    margin-top: 50px;
  }
  #portfolio ul {
    margin: 10 0;
    flex-direction: column  !important;
    justify-content: center;
    border: none;
    align-items: center;
    font-size: 1.3rem;
  }

  #portfolio .container{
    width: 100%;
  }
  
  #portfolio .container .item {
    width: 150px;
    height: 100px;
  }

  .portfolioList{
    margin-right: 20px;
  }

  .pimages{
    width: 150px !important;
    height: 100px !important;
  }

.projects{
  margin-bottom: 30px;
}
}
.about{
  height: 120vh;
  margin-top: 75px;
}

.about h1 {
padding-top: 50px;
text-align: center;

}

.myworks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.first{

 height: 150px;
 width: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.first h4{
padding-top: 10px;
}
.logo{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 height: 75px;
 width: 75px;
}
.firstlogo{
  background-image: url(./logos/html.png);

  
}
.secondlogo{
  background-image: url(./logos/css.png);
}


.thirdlogo{
  background-image: url(./logos/js.png);


}
.fourthlogo{
  background-image: url(./logos/react.png);

 
}
.fifthlogo{
 background-image: url(./logos/bootstrap.png);
}
.sixthlogo{
 background-image: url(./logos/material.png); 
}
.seventhlogo{
  background-image: url(./logos/figma.png);
}
.eightlogo{
  background-image: url(./logos/firebase.png);
}

.aboutme{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 80px;
}

.aboutme p{
 font-size: 20px;
text-align: center;}

.socialmedia{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
margin: 40px 400px;
}

.socialicon{
 height: 60px;
 width: 60px;
 background-color: rgba(0, 0, 0, 0.54);;
 display: inline-flex;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 box-sizing: border-box;
 padding: 12px;
 vertical-align: middle;
 margin: 0px;
 -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
}

.socialicon:hover{
  background-color: var(--primary-purple);
  transition: ease-in-out 0.5s;
  cursor: pointer;
   
}

.btn-outline-primary{
  color: var(--primary-purple) !important;
  border-color: var(--primary-purple) !important;
}

.btn-outline-primary:hover{
  background-color: var(--primary-purple) !important;
  color: var(--primary-white) !important;
  transition:  ease-in-out 0.5s !important;

}

@media (max-width: 600px) {
  .about{
    height: 100%;
  }
  .about h1{
    font-size: 30px;
  }
 
   .myworks{
    flex-wrap: wrap;
    margin-top: 10px;
  }
 
   .container{
   width: 100%;
 }
  .logo{
   height: 50px;
   width: 50px;
  }
  .first h4{
    font-size: 10.9px !important;
    text-align: center;
    font-weight: 495;
  }
  .aboutme{
    margin: 0px;
    display: unset;
    flex-direction: row;
    align-items: unset;
    justify-content: unset;
    padding: 5px 20px;
  }
  .aboutme p{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: unset;

  }
  .socialmedia{
    margin: 0;
  }
  .socialicon{
    height: 50px !important;
    width: 50px !important;
  
  }
   .fa-3x{
   font-size: 2em !important;

  }
  .socialmedia button{
    margin-top: 35px;
    font-size: 15px  !important;
  }
  .btn .btn-lg{
    width: 100px;
  }
}
@media (min-width:600px) and (max-width:1200px){
  .about{
    height: 100%;
    margin-top: 135px;
  }
  .about h1{
margin-bottom: 25px;
  }
  .about .container{
    width: 100%;
  }
   .myworks{
    flex-wrap: wrap;
    margin-top: 10px;
  }
 

  .logo{
   height: 80px;
   width: 80px;
  }
  .first h4{
    text-align: center;
  }
  .aboutme{
    margin: 0px;
    display: unset;
    flex-direction: row;
    align-items: unset;
    justify-content: unset;
    padding: 5px 20px;
  }
 
  .aboutme p{
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: unset;

  }
  .socialmedia{
    margin: 0;
  }
  .socialicon{
    height: 80px !important;
    width: 80px !important;
  
  }
   .fa-3x{
   font-size: 3em !important;

  }
  .socialmedia button{
    margin: 35px 0;
    font-size: 25px  !important;
  }
  .btn .btn-lg{
    width: 100px;
    
  }
}